/*CSS окна с задачей*/
.window, .button{
	margin-inline: 4px;
	margin-top: 4px;
}

.task{
	padding: 16px 32px;
    color: var(--color-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    /*border-radius: var(--border-20);*/
    /*display: grid;*/
}

.button {
    padding: 8px 16px;
    color: var(--color-text);
    font-size: 14px;
	font-weight: normal;
    line-height: 120%;
    border-radius: var(--border-20);
    cursor: pointer;
    /*display: inline-block;*/
    text-align: center;
}
.line{
	margin-inline: 4px;
	background-color:var(--color-primary);
	color:var(--color-primary);
	width:100%;
	height: 5px;
}

/*текст кнопки на главную*/
.go__back__link{
	color: #000000;
}

/*текст подсказки*/
.hint__text{
	animation-play-state: paused;
	position:relative;
	display: flex;
	left: -100%;
	/*visibility: hidden;*/
	animation-name: show-hint;
	animation-duration: 1s;
}
.level__number{
	padding-left: 14px;
}
.timer{
	padding: 0px 14px;
	margin-bottom: 4px;
	font-weight: 500;
}
.under-editor{
	display: flex;
	align-items: center;
}
.window{
	border: 3px solid var(--color-primary);
	box-shadow: 5px 4px 0px 0px #000000;
	background-color: white;
}
.level-menu{
	z-index: 1;
	position:absolute;
	margin-left: 15%;
	display:none;
}
/*поле вывода*/
.check__result{
	padding: 20px 14px;
}
/*это CSS анимация для текста подсказки*/
@keyframes show-hint {
	from {left: -100%;}
	to {left: 14px;}
}