.hero {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 24px;
}

.hero__h1 {
    margin: 0;
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    color: var(--color-h1);
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero__left p {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.hero__cta {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}